/* Combined Global and Index Styles */

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-strong: Inter;
  --text-regular-normal: Roboto;

  /* font sizes */
  --body-strong-size: 16px;
  --single-line-body-small-strong-size: 14px;
  --text-medium-normal-size: 18px;
  --heading-desktop-h2-size: 48px;
  --heading-desktop-h5-size: 24px;

  /* Colors */
  --background-color-primary: #fff;
  --color-neutral-black: #000;
  --color-neutral-neutral: #666;
  --background-brand-default: #2c2c2c;

  /* Spacing */
  --space-200: 8px;
  --space-300: 12px;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-81xl: 100px;
}


.lists-all-current {
  position: absolute;
  top: 30px;
  left: 0;
  line-height: 150%;
  font-weight: 300;
}
.heading2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--heading-desktop-h5-size);
  line-height: 140%;
  display: inline-block;
  width: 1376px;
}
.column18 {
  position: absolute;
  top: 83px;
  left: 8px;
  width: 1068px;
  height: 53px;
}
.image-icon25 {
  width: 40px;
  position: relative;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}
.icon5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.microsoft {
  align-self: stretch;
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  flex-shrink: 0;
}
.div5,
.microsoft,
.text17 {
  position: relative;
  line-height: 150%;
}
.div5 {
  font-size: var(--text-medium-normal-size);
}
.column19,
.text16,
.time5 {
  display: flex;
  justify-content: flex-start;
}
.time5 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--single-line-body-small-strong-size);
}
.column19,
.text16 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.column19 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.icon-edit,
.list-item-wrapper,
.list-item5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.list-item5 {
  border-bottom: 1px solid var(--color-neutral-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) 0;
}
.icon-edit,
.list-item-wrapper {
  height: 88px;
}
.icon-edit {
  top: 32px;
  left: 1408px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-parent {
  width: 1440px;
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 88px;
}
.list1,
.submitted-applications1 {
  position: absolute;
  left: 0;
  background-color: var(--background-color-primary);
  width: 1440px;
}
.list1 {
  top: 166px;
  border-top: 1px solid var(--color-neutral-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.submitted-applications1 {
  top: 0;
  height: 1024px;
  overflow: hidden;
}
.pigeon-high-resolution-logo-gr-icon2 {
  width: 66px;
  position: relative;
  height: 54px;
  object-fit: cover;
}
.link-text10,
.link-text8,
.link-text9 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.link-text10,
.link-text9 {
  left: 116px;
}
.link-text10 {
  left: 210px;
}
.chevron-down-icon2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-link-dropdown2 {
  position: absolute;
  top: 0;
  left: 321px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column24 {
  width: 446px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.content7 {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 0;
}
.icon-bell2 {
  width: 36px;
  position: relative;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar-image-icon2 {
  width: 56px;
  position: relative;
  border-radius: 50%;
  height: 56px;
  object-fit: cover;
}
.user-profile-notifcation2 {
  width: 118px;
  margin: 0 !important;
  position: absolute;
  top: 4px;
  left: 1258px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.content6,
.line2 {
  position: relative;
  box-sizing: border-box;
}
.content6 {
  align-self: stretch;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-45xl);
}
.line2 {
  width: 1441px;
  border-top: 1px solid var(--color-neutral-black);
  height: 1px;
}
.navbar-full-view-full-access2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color-primary);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.submitted-applications-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.employers-can-see-and-edit-all {
  width: 100%;
  position: relative;
  height: 1024px;
  text-align: left;
  font-size: var(--body-strong-size);
  color: var(--color-neutral-black);
  font-family: var(--text-regular-normal);
}
