/* Content from global.css */
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --text-small-link: Roboto;
  
    /* font sizes */
    --text-small-link-size: 14px;
    --text-regular-normal-size: 16px;
    --text-medium-normal-size: 18px;
    --heading-desktop-h2-size: 48px;
    --font-size-19xl: 38px;
    --font-size-10xl: 29px;
    --heading-desktop-h4-size: 32px;
    --font-size-7xl: 26px;
    --font-size-lgi: 19px;
    --heading-desktop-h1-size: 56px;
  
    /* Colors */
    --background-color-primary: #fff;
    --link-primary: #000;
  
    /* Gaps */
    --gap-61xl: 80px;
    --gap-21xl: 40px;
    --gap-xl: 20px;
    --gap-13xl: 32px;
    --gap-base: 16px;
    --gap-5xl: 24px;
    --gap-5xs: 8px;
  
    /* Paddings */
    --padding-45xl: 64px;
    --padding-13xl: 32px;
    --padding-xl: 20px;
    --padding-93xl: 112px;
    --padding-54xl: 73px;
    --padding-xs: 12px;
    --padding-5xl: 24px;
    --padding-28xl: 47px;
    --padding-12xl: 31px;
    --padding-104xl: 123px;
    --padding-170xl: 189px;
    --padding-5xs: 8px;
    --padding-7xs: 6px;
    --padding-mini: 15px;
  }
  
  
  /* Content from index.css */
  .pigeon-high-resolution-logo-gr-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .logo-container {
    align-self: stretch;
    width: 86px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .link-text,
  .link-text2,
  .link-text3 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 85px;
  }
  .link-text2,
  .link-text3 {
    min-width: 80px;
  }
  .link-text3 {
    min-width: 98px;
  }
  .links,
  .links-container {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .links {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--text-regular-normal-size);
    color: var(--link-primary);
    font-family: var(--text-small-link);
  }
  .links-container {
    width: 418px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 var(--padding-mini);
    box-sizing: border-box;
    max-width: 100%;
  }
  .chevron-down-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dropdown-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-mini);
    box-sizing: border-box;
    max-width: 100%;
  }
  .button {
    position: relative;
    font-size: var(--text-regular-normal-size);
    line-height: 150%;
    font-family: var(--text-small-link);
    color: var(--link-primary);
    text-align: left;
  }
  .stylesecondary-smalltrue-a {
    cursor: pointer;
    border: 1px solid var(--link-primary);
    padding: var(--padding-5xs) var(--padding-xl);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .icon-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-xs) var(--padding-7xs) 0;
  }
  .button1 {
    height: 24px;
    position: relative;
    font-size: var(--text-regular-normal-size);
    line-height: 150%;
    font-family: var(--text-small-link);
    color: var(--background-color-primary);
    text-align: left;
    display: inline-block;
  }
  .styleprimary-smalltrue-alt {
    cursor: pointer;
    border: 1px solid var(--link-primary);
    padding: var(--padding-5xs) var(--padding-xl);
    background-color: var(--link-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .icon-button-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-7xs);
  }
  .navbar-left {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 4px;
    max-width: 100%;
  }
  .back,
  .navbar-container {
    align-self: stretch;
    box-sizing: border-box;
  }
  .navbar-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-45xl);
    max-width: 100%;
  }
  .back {
    height: 0px;
    position: relative;
    border-top: 1px solid var(--link-primary);
  }
  .content,
  .navbar-limited-view-user-is {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .content {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-5xs) 0 0;
    box-sizing: border-box;
    gap: 10px;
  }
  .navbar-limited-view-user-is {
    background-color: var(--background-color-primary);
    flex-direction: row;
    top: 0;
    z-index: 99;
    position: sticky;
  }
  .medium-length-hero {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
  }
  .lorem-ipsum-dolor {
    position: relative;
    font-size: var(--text-medium-normal-size);
    line-height: 150%;
  }
  .content1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .button3 {
    height: 24px;
    position: relative;
    font-size: var(--text-regular-normal-size);
    line-height: 150%;
    font-weight: 600;
    font-family: var(--text-small-link);
    color: var(--link-primary);
    text-align: left;
    display: inline-block;
  }
  .button2 {
    cursor: pointer;
    border: 1px solid var(--background-color-primary);
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button5 {
    height: 24px;
    position: relative;
    font-size: var(--text-regular-normal-size);
    line-height: 150%;
    font-weight: 600;
    font-family: var(--text-small-link);
    color: var(--background-color-primary);
    text-align: left;
    display: inline-block;
  }
  .button4 {
    cursor: pointer;
    border: 1px solid var(--background-color-primary);
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .actions,
  .column,
  .header-5 {
    display: flex;
    justify-content: flex-start;
  }
  .actions {
    height: 48px;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-base);
  }
  .column,
  .header-5 {
    max-width: 100%;
  }
  .column {
    width: 560px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-13xl);
  }
  .header-5 {
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: 290.5px 62px;
    box-sizing: border-box;
    background-image: url(./images/header--5@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--heading-desktop-h1-size);
    color: var(--background-color-primary);
    font-family: var(--text-small-link);
  }
  .tagline {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .tagline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .heading {
    margin: 0;
    position: relative;
    font-size: var(--heading-desktop-h2-size);
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
  }
  .column1 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    min-width: 400px;
    max-width: 100%;
  }
  .text-suspendisse-varius {
    position: relative;
    line-height: 150%;
  }
  .button6 {
    cursor: pointer;
    border: 1px solid var(--link-primary);
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button9 {
    height: 24px;
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
  }
  .icon-chevron-right {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button8 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .actions1,
  .column2,
  .content2 {
    display: flex;
    justify-content: flex-start;
  }
  .actions1 {
    height: 48px;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xl);
    font-size: var(--text-regular-normal-size);
  }
  .column2,
  .content2 {
    align-items: flex-start;
    max-width: 100%;
  }
  .column2 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
    min-width: 400px;
    font-size: var(--text-medium-normal-size);
  }
  .content2 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--gap-61xl);
  }
  .layout-89,
  .placeholder-image-icon {
    align-self: stretch;
    overflow: hidden;
    max-width: 100%;
  }
  .placeholder-image-icon {
    position: relative;
    max-height: 100%;
    object-fit: cover;
  }
  .layout-89 {
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-93xl) var(--padding-45xl);
    box-sizing: border-box;
    gap: var(--gap-61xl);
    text-align: left;
    font-size: var(--text-regular-normal-size);
    color: var(--link-primary);
    font-family: var(--text-small-link);
  }
  .tagline1 {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    min-width: 69px;
  }
  .heading1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
  }
  .content3,
  .section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content3 {
    align-self: stretch;
    gap: var(--gap-5xl);
    font-size: var(--heading-desktop-h2-size);
  }
  .section-title {
    width: 768px;
    gap: var(--gap-base);
    max-width: 100%;
  }
  .icon-relume {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .heading2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 130%;
    font-weight: 700;
    font-family: inherit;
  }
  .feature-descriptions {
    position: relative;
    font-size: var(--text-regular-normal-size);
    line-height: 150%;
  }
  .column3,
  .content4,
  .row {
    align-items: flex-start;
    max-width: 100%;
  }
  .column3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    min-width: 304px;
  }
  .content4,
  .row {
    align-self: stretch;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 48px;
  }
  .content4 {
    flex-direction: column;
    font-size: var(--heading-desktop-h4-size);
  }
  .actions2,
  .content4,
  .layout-241 {
    display: flex;
    justify-content: flex-start;
  }
  .actions2 {
    height: 48px;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xl);
  }
  .layout-241 {
    align-self: stretch;
    background-color: var(--background-color-primary);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-93xl) var(--padding-45xl);
    box-sizing: border-box;
    gap: var(--gap-61xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--text-regular-normal-size);
    color: var(--link-primary);
    font-family: var(--text-small-link);
  }
  .text2 {
    align-self: stretch;
    position: relative;
    font-size: var(--text-medium-normal-size);
    line-height: 150%;
  }
  .content5,
  .content6 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .content6 {
    align-self: stretch;
    display: flex;
    gap: var(--gap-5xl);
  }
  .content5 {
    width: 768px;
    gap: var(--gap-13xl);
  }
  .content5,
  .cta-27,
  .footer-links {
    display: flex;
    max-width: 100%;
  }
  .cta-27 {
    align-self: stretch;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-93xl) var(--padding-xl);
    box-sizing: border-box;
    background-image: url(./images/cta--27@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: var(--heading-desktop-h2-size);
    color: var(--background-color-primary);
    font-family: var(--text-small-link);
  }
  .footer-links {
    width: 359px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .pigeon-high-resolution-logo-gr-icon1 {
    height: 54px;
    width: 66px;
    position: absolute;
    margin: 0 !important;
    top: -17px;
    left: 0;
    object-fit: cover;
  }
  .divider,
  .footer-content {
    align-self: stretch;
    position: relative;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .divider {
    height: 1px;
    background-color: var(--link-primary);
    border: 1px solid var(--link-primary);
    box-sizing: border-box;
  }
  .privacy-policy {
    display: inline-block;
    min-width: 88px;
  }
  .privacy-policy,
  .terms-of-use {
    position: relative;
    text-decoration: underline;
    line-height: 150%;
  }
  .copyright,
  .copyright-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .copyright {
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .copyright-container {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .footer-4,
  .footer-bottom,
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-bottom {
    align-self: stretch;
    gap: var(--gap-13xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--text-small-link-size);
    color: var(--link-primary);
    font-family: var(--text-small-link);
  }
  .footer-4,
  .landing-page {
    box-sizing: border-box;
  }
  .footer-4 {
    align-self: stretch;
    background-color: var(--background-color-primary);
    overflow: hidden;
    padding: 80px var(--padding-45xl) 78px;
    gap: var(--gap-61xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--text-small-link-size);
    color: var(--link-primary);
    font-family: var(--text-small-link);
  }
  .landing-page {
    width: 100%;
    position: relative;
    padding: 0 0 1px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1275px) {
    .links-container {
      display: none;
    }
    .layout-89 {
      padding-top: var(--padding-54xl);
      padding-bottom: var(--padding-54xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1100px) {
    .header-5,
    .layout-241 {
      padding-top: var(--padding-170xl);
      padding-bottom: var(--padding-170xl);
      box-sizing: border-box;
    }
    .layout-241 {
      padding-top: var(--padding-54xl);
      padding-bottom: var(--padding-54xl);
    }
    .cta-27 {
      gap: var(--gap-21xl);
    }
  }
  @media screen and (max-width: 750px) {
    .links {
      display: none;
    }
    .links-container {
      width: 0;
    }
    .navbar-container {
      padding-left: var(--padding-13xl);
      padding-right: var(--padding-13xl);
      box-sizing: border-box;
    }
    .medium-length-hero {
      font-size: 45px;
      line-height: 54px;
    }
    .column {
      gap: var(--gap-base);
    }
    .header-5 {
      padding-left: var(--padding-12xl);
      padding-right: var(--padding-12xl);
      box-sizing: border-box;
    }
    .heading {
      font-size: var(--font-size-19xl);
      line-height: 46px;
    }
    .column1,
    .column2 {
      min-width: 100%;
    }
    .column2 {
      gap: var(--gap-base);
    }
    .content2,
    .layout-89 {
      gap: var(--gap-21xl);
    }
    .layout-89 {
      padding: var(--padding-28xl) var(--padding-13xl);
      box-sizing: border-box;
    }
    .heading1 {
      font-size: var(--font-size-19xl);
      line-height: 46px;
    }
    .heading2 {
      font-size: var(--font-size-7xl);
      line-height: 33px;
    }
    .row {
      gap: var(--gap-5xl);
    }
    .content4 {
      gap: var(--gap-13xl);
    }
    .layout-241 {
      gap: var(--gap-21xl);
      padding-left: var(--padding-13xl);
      padding-right: var(--padding-13xl);
      box-sizing: border-box;
    }
    .copyright {
      flex-wrap: wrap;
    }
    .footer-bottom {
      gap: var(--gap-base);
    }
    .footer-4 {
      gap: var(--gap-21xl);
      padding-left: var(--padding-13xl);
      padding-right: var(--padding-13xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .medium-length-hero {
      font-size: 34px;
      line-height: 40px;
    }
    .header-5 {
      padding-top: var(--padding-104xl);
      padding-bottom: var(--padding-104xl);
      box-sizing: border-box;
    }
    .heading {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .content2,
    .layout-89 {
      gap: var(--gap-xl);
    }
    .heading1 {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .heading2 {
      font-size: var(--font-size-lgi);
      line-height: 25px;
    }
    .content4 {
      gap: var(--gap-base);
    }
    .layout-241 {
      gap: var(--gap-xl);
      padding-top: var(--padding-28xl);
      padding-bottom: var(--padding-28xl);
      box-sizing: border-box;
    }
    .content5 {
      gap: var(--gap-base);
    }
    .cta-27 {
      gap: var(--gap-xl);
      padding-top: var(--padding-54xl);
      padding-bottom: var(--padding-54xl);
      box-sizing: border-box;
    }
    .footer-links {
      flex-wrap: wrap;
    }
    .footer-4 {
      gap: var(--gap-xl);
    }
  }  