<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'apply.css' %}" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="application">
      <div class="application-page-parent">
        <div class="application-page-parent">
          <div class="application-page-parent">
            <div class="application-page1"></div>
            <div class="navbar-full-view-full-access">
              <div class="content">
                <div class="content1">
                  <img
                    class="pigeon-high-resolution-logo-gr-icon"
                    alt=""
                    src="{% static 'images/pigeonhighresolutionlogograyscaletransparent-2@2x.png' %}"
                  />

                  <div class="column">
                    <a href="{% url 'homepage' %}" class="link-text8" style="text-decoration: none; color: inherit;">Home Page</a>
                    <div class="link-text1">Features</div>
                    <div class="link-text2">Contact Us</div>
                    <div class="nav-link-dropdown">
                      <div class="which-best-describes">More Options</div>
                      <img
                        class="chevron-down-icon"
                        alt=""
                        src="{% static 'images/chevron-down.svg' %}"
                      />
                    </div>
                  </div>
                </div>
                <div class="user-profile-notifcation">
                  <img class="icon-bell" alt="" src=" {% static 'images/icon--bell.svg' %}" />

                  <img
                    class="avatar-image-icon"
                    alt=""
                    src=" {% static 'images/avatar-image@2x.png' %}"
                  />
                </div>
              </div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="contact-2">
          <div class="section-title">
            <div class="tagline-wrapper">
              <div class="tagline">Company name</div>
            </div>
            <div class="content2">
              <b class="heading">Contact us</b>
              <div class="text">
                Want to apply? Simply complete the form below and upload your
                resume. Our team will review your submission and reach out to
                you soon.
              </div>
            </div>
          </div>
          <div class="form">
            <div class="inputs">
              <div class="input">
                <div class="first-name">First name</div>
                <div class="text-input">
                  <div class="placeholder">Placeholder</div>
                </div>
              </div>
              <div class="input">
                <div class="first-name">Last name</div>
                <div class="text-input">
                  <div class="placeholder">Placeholder</div>
                </div>
              </div>
            </div>
            <div class="inputs1">
              <div class="input">
                <div class="first-name">Email</div>
                <div class="text-input">
                  <div class="placeholder">Placeholder</div>
                </div>
              </div>
              <div class="input">
                <div class="first-name">Phone number</div>
                <div class="text-input">
                  <div class="placeholder">Placeholder</div>
                </div>
              </div>
            </div>
            <div class="input4">
              <div class="first-name">Resume</div>
              <div class="button">
                <img
                  class="paperclip-icon"
                  alt=""
                  src="{% static 'images/paperclip.svg' %}"
                />

                <div class="button1">Upload Resume</div>
                <img class="x-icon" alt="" src="{% static 'images/x.svg' %}" />
              </div>
            </div>
            <div class="radios">
              <div class="which-best-describes">Which best describes you?</div>
              <div class="content3">
                <div class="row">
                  <div class="radio">
                    <div class="radio1"></div>
                    <div class="which-best-describes">Freshman</div>
                  </div>
                  <div class="radio">
                    <div class="radio1"></div>
                    <div class="which-best-describes">Sophomore</div>
                  </div>
                </div>
                <div class="row">
                  <div class="radio">
                    <div class="radio1"></div>
                    <div class="which-best-describes">Junior</div>
                  </div>
                  <div class="radio">
                    <div class="radio1"></div>
                    <div class="which-best-describes">Senior</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input5">
              <div class="first-name">Message</div>
              <div class="text-area">
                <div class="type-your-message">Type your message...</div>
                <img class="text-area-child" alt="" src />

                <img class="text-area-item" alt="" src />
              </div>
            </div>
            <div class="checkbox">
              <div class="checkbox1"></div>
              <div class="which-best-describes">
                <span>I accept the </span>
                <span class="terms">Terms</span>
              </div>
            </div>
            <div class="button2">
              <div class="button3">Submit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
