<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'edit_job_postings.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="employers-can-see-and-edit-all">
      <div class="submitted-applications-group">
        <div class="submitted-applications1">
          <div class="column18">
            <div class="lists-all-current">
              Lists all current internship postings submitted by employers,
              including the job role, posting details, and the submission date.
              Users can also edit the postings as needed.
            </div>
            <b class="heading2">Internship Postings</b>
          </div>
          <div class="list1">
            <div class="group-parent">
              <div class="list-item-wrapper">
                <div class="list-item5">
                  <div class="column19">
                    <div class="icon5">
                      <img
                        class="image-icon25"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text16">
                      <div class="microsoft">Microsoft</div>
                      <div class="time5">
                        <div class="text17">26 Nov 2024</div>
                        <div class="div5">•</div>
                        <div class="text17">UX Designer</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="icon-edit" alt="" src="{% static 'images/icon--edit.svg' %}" />
            </div>
            <div class="group-parent">
              <div class="list-item-wrapper">
                <div class="list-item5">
                  <div class="column19">
                    <div class="icon5">
                      <img
                        class="image-icon25"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text16">
                      <div class="microsoft">Company name</div>
                      <div class="time5">
                        <div class="text17">27 Nov 2024</div>
                        <div class="div5">•</div>
                        <div class="text17">Role</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="icon-edit" alt="" src="{% static 'images/icon--edit.svg' %}" />
            </div>
            <div class="group-parent">
              <div class="list-item-wrapper">
                <div class="list-item5">
                  <div class="column19">
                    <div class="icon5">
                      <img
                        class="image-icon25"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text16">
                      <div class="microsoft">Company name</div>
                      <div class="time5">
                        <div class="text17">28 Nov 2024</div>
                        <div class="div5">•</div>
                        <div class="text17">Role</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="icon-edit" alt="" src="{% static 'images/icon--edit.svg' %}" />
            </div>
            <div class="group-parent">
              <div class="list-item-wrapper">
                <div class="list-item5">
                  <div class="column19">
                    <div class="icon5">
                      <img
                        class="image-icon25"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text16">
                      <div class="microsoft">Company name</div>
                      <div class="time5">
                        <div class="text17">29 Nov 2024</div>
                        <div class="div5">•</div>
                        <div class="text17">Role</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="icon-edit" alt="" src="{% static 'images/icon--edit.svg' %}" />
            </div>
            <div class="group-parent">
              <div class="list-item-wrapper">
                <div class="list-item5">
                  <div class="column19">
                    <div class="icon5">
                      <img
                        class="image-icon25"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text16">
                      <div class="microsoft">Company name</div>
                      <div class="time5">
                        <div class="text17">30 Nov 2024</div>
                        <div class="div5">•</div>
                        <div class="text17">Role</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="icon-edit" alt="" src="{% static 'images/icon--edit.svg' %}" />
            </div>
          </div>
        </div>
        <div class="navbar-full-view-full-access2">
          <div class="content6">
            <div class="content7">
              <img
                class="pigeon-high-resolution-logo-gr-icon2"
                alt=""
                src="{% static 'images/pigeonhighresolutionlogograyscaletransparent-2@2x.png' %}"
              />

              <div class="column24">
                <a href="{% url 'homepage' %}" class="link-text8" style="text-decoration: none; color: inherit;">Home</a>
                <div class="link-text9">Features</div>
                <div class="link-text10">Contact Us</div>
                <div class="nav-link-dropdown2">
                  <div class="text17">More Options</div>
                
                </div>
              </div>
            </div>
            <div class="user-profile-notifcation2">
              <img class="icon-bell2" alt="" src="{% static 'images/icon--bell.svg' %}" />

              <img
                class="avatar-image-icon2"
                alt=""
                src="{% static 'images/avatar-image@2x.png' %}"
              />
            </div>
          </div>
          <div class="line2"></div>
        </div>
      </div>
    </div>
  </body>
</html>
