<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'employer_application_view.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="application-view">
      <div class="submitted-applications-parent">
        <div class="submitted-applications">
          <div class="column1">
            <div class="a-list-of">
              A list of submitted applications with key details like submission
              date and category. Users can review, approve, or reject
              applications from this interface.
            </div>
            <b class="heading1">Student Applications</b>
          </div>
          <div class="list">
            <div class="list-inner">
              <div class="list-item-parent">
                <div class="list-item">
                  <div class="column2">
                    <div class="icon">
                      <img
                        class="image-icon"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text1">
                      <div class="john-doe">
                        <p class="john-doe1">John Doe</p>
                      </div>
                      <div class="time">
                        <div class="text2">26 Nov 2024</div>
                        <div class="div">•</div>
                        <div class="text2">Role</div>
                      </div>
                    </div>
                  </div>
                  <div class="column3">
                    <div class="column4">
                      <img
                        class="image-icon"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="button4">
                      <img
                        class="icon-download"
                        alt=""
                        src="{% static 'images/icon--download.svg' %}"
                      />
                    </div>
                  </div>
                </div>
                <img class="icon-check" alt="" src="{% static 'images/icon--check.svg' %}" />

                <img class="icon-x" alt="" src="{% static 'images/icon--x.svg' %}" />
              </div>
            </div>
            <div class="list-inner">
              <div class="list-item-parent">
                <div class="list-item">
                  <div class="column2">
                    <div class="icon">
                      <img
                        class="image-icon"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text1">
                      <div class="john-doe">Student name</div>
                      <div class="time">
                        <div class="text2">27 Nov 2024</div>
                        <div class="div">•</div>
                        <div class="text2">Role</div>
                      </div>
                    </div>
                  </div>
                  <div class="column3">
                    <div class="column4">
                      <img
                        class="image-icon"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />
                    </div>
                    <div class="button4">
                      <img
                        class="icon-download"
                        alt=""
                        src="./public/icon--download.svg"
                      />
                    </div>
                  </div>
                </div>
                <img class="icon-check" alt="" src="{% static 'images/icon--check.svg' %}" />

                <img class="icon-x" alt="" src="{% static 'images/icon--x.svg' %}" />
              </div>
            </div>
            <div class="list-inner">
              <div class="list-item-parent">
                <div class="list-item">
                  <div class="column2">
                    <div class="icon">
                      <img
                        class="image-icon"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text1">
                      <div class="john-doe">Student name</div>
                      <div class="time">
                        <div class="text2">28 Nov 2024</div>
                        <div class="div">•</div>
                        <div class="text2">Role</div>
                      </div>
                    </div>
                  </div>
                  <div class="column3">
                    <div class="column4">
                      <img
                        class="image-icon"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />
                    </div>
                    <div class="button4">
                      <img
                        class="icon-download"
                        alt=""
                        src="./public/icon--download.svg"
                      />
                    </div>
                  </div>
                </div>
                <img class="icon-check" alt="" src="{% static 'images/icon--check.svg' %}" />

                <img class="icon-x" alt="" src="{% static 'images/icon--x.svg' %}" />
              </div>
            </div>
            <div class="list-inner">
              <div class="list-item-parent">
                <div class="list-item">
                  <div class="column2">
                    <div class="icon">
                      <img
                        class="image-icon"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text1">
                      <div class="john-doe">Student name</div>
                      <div class="time">
                        <div class="text2">26 Nov 2024</div>
                        <div class="div">•</div>
                        <div class="text2">Role</div>
                      </div>
                    </div>
                  </div>
                  <div class="column3">
                    <div class="column4">
                      <img
                        class="image-icon"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />
                    </div>
                    <div class="button4">
                      <img
                        class="icon-download"
                        alt=""
                        src="./public/icon--download.svg"
                      />
                    </div>
                  </div>
                </div>
                <img class="icon-check" alt="" src="{% static 'images/icon--check.svg' %}" />

                <img class="icon-x" alt="" src="{% static 'images/icon--x.svg' %}" />
              </div>
            </div>
            <div class="list-inner">
              <div class="list-item-parent">
                <div class="list-item">
                  <div class="column2">
                    <div class="icon">
                      <img
                        class="image-icon"
                        alt=""
                        src="{% static 'images/image@2x.png' %}"
                      />
                    </div>
                    <div class="text1">
                      <div class="john-doe">Student name</div>
                      <div class="time">
                        <div class="text2">26 Nov 2024</div>
                        <div class="div">•</div>
                        <div class="text2">Role</div>
                      </div>
                    </div>
                  </div>
                  <div class="column3">
                    <div class="column4">
                      <img
                        class="image-icon"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <img
                        class="image-icon2"
                        alt=""
                        src="./public/image@2x.png"
                      />
                    </div>
                    <div class="button4">
                      <img
                        class="icon-download"
                        alt=""
                        src="./public/icon--download.svg"
                      />
                    </div>
                  </div>
                </div>
                <img class="icon-check" alt="" src="{% static 'images/icon--check.svg' %}" />

                <img class="icon-x" alt="" src="{% static 'images/icon--x.svg' %}" />
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-full-view-full-access1">
          <div class="content4">
            <div class="content5">
              <img
                class="pigeon-high-resolution-logo-gr-icon1"
                alt=""
                src="{% static '/images/pigeonhighresolutionlogograyscaletransparent-2@2x.png' %}"
              />

              <div class="column17">
                <a href="{% url 'homepage' %}" class="link-text8" style="text-decoration: none; color: inherit;">Home Page</a>
                <div class="link-text5">Features</div>
                <div class="link-text6">Contact Us</div>
                <div class="nav-link-dropdown1">
                  <div class="text2">More Options</div>
                  <img
                    class="icon-download"
                    alt=""
                    src="{% static 'images/chevron-down.svg' %}"
                  />
                </div>
              </div>
            </div>
            <div class="user-profile-notifcation1">
              <img class="icon-bell1" alt="" src="{% static 'images/icon--bell.svg' %}" />

              <img
                class="avatar-image-icon1"
                alt=""
                src="{% static 'images/avatar-image@2x.png' %}"
              />
            </div>
          </div>
          <div class="line1"></div>
        </div>
      </div>
    </div>
  </body>
</html>
