<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'searchpage.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="search-page3">
      <main class="search-page4">
        <header class="navbar-full-view-full-access2">
          <div class="content12">
            <div class="content-inner1">
              <div class="frame-parent2">
                <div class="pigeon-high-resolution-logo-gr-container">
                  <img
                    class="pigeon-high-resolution-logo-gr-icon4"
                    loading="lazy"
                    alt=""
                    src="{% static 'images/pigeonhighresolutionlogograyscaletransparent-21@2x.png' %}"
                  />
                </div>
                <nav class="navbar-links-wrapper">
                  <nav class="navbar-links">
                    <a href="{% url 'homepage' %}" class="link-text8" style="text-decoration: none; color: inherit;">Home Page</a>
                    <div class="link-text9">Features</div>
                    <div class="link-text10">Contact Us</div>
                    <div class="link-text11">More Options</div>
                  </nav>
                </nav>
                <div class="chevron-down-container">
                  <img
                    class="chevron-down-icon2"
                    loading="lazy"
                    alt=""
                    src="{% static 'images/chevron-down1.svg' %}"
                  />
                </div>
                <div class="icon-bell-frame">
                  <img
                    class="icon-bell2"
                    loading="lazy"
                    alt=""
                    src="{% static 'images/icon--bell1.svg' %}"
                  />
                </div>
                <a href="{% if user.is_student %}{% url 'student_profile' %}{% elif user.is_employer %}{% url 'employer_profile' %}{% endif %}">
                  <img
                    class="avatar-image-icon14"
                    loading="lazy"
                    alt="Profile Image"
                    src="{% static 'images/avatar-image@2x.png' %}"
                  />
                </a>
              </div>
            </div>
            <div class="navbar-divider"></div>
          </div>
        </header>
        <section class="search-page-child">
          <div class="search-with-filter-group">
            <form class="search-with-filter1" method="GET" action="{% url 'searchpage' %}">
              <div class="input-field-frame">
                <div class="input-field4">
                  <img
                    class="icon-search3"
                    alt=""
                    src="{% static 'images/icon--search1.svg' %}"
                  />
            
                  <input
                    class="search-by-job2"
                    placeholder="Search by: Job title, Position, Keyword..."
                    type="text"
                    name="job_title"
                    value="{{ job_title }}"
                  />
                </div>
              </div>
              <div class="devider2"></div>
              <div class="input-field-wrapper1">
                <div class="input-field5">
                  <div class="icon-map-group">
                    <img
                      class="icon-search3"
                      alt=""
                      src="{% static 'images/icon--map1.svg' %}"
                    />
            
                    <input
                      class="city-state-or2"
                      placeholder="City, state or zip code"
                      type="text"
                      name="location"
                      value="{{ location }}"
                    />
                  </div>
                  <img
                    class="icon-search3"
                    alt=""
                    src="{% static 'images/icon--currentlocation.svg' %}"
                  />
                </div>
              </div>
              <div class="button-wrapper1">
                <button type="submit" class="button7">
                  <img
                    class="icon-slider-alt1"
                    alt=""
                    src="{% static 'images/icon--slideralt@2x.png' %}"
                  />
                  <div class="filters1">Filters</div>
                </button>
              </div>
              <div class="button-wrapper1">
                <button type="submit" class="button8">
                  <div class="primary2">Find Job</div>
                </button>
              </div>
            </form>
            
            <div class="application-shell-151">
              <div class="sidebar-11">
                <div class="menu-top1">
                  <div class="row3">
                    <img
                      class="company-logo-icon1"
                      alt=""
                      src="{% static 'images/company-logo.svg' %}"
                    />
                  </div>
                </div>
                <div class="menu-wrap1">
                  <div class="row4">
                    <div class="text-input1">
                      <img
                        class="icon-search3"
                        alt=""
                        src="{% static 'images/icon--search1.svg' %}"
                      />

                      <div class="type-your-message1">Search</div>
                    </div>
                  </div>
                  <div class="menu-list3">
                    <div class="nav-link9">
                      <div class="content13">
                        <input class="icon-home1" type="checkbox" />

                        <div class="link-text9">Home</div>
                      </div>
                    </div>
                    <div class="nav-link10">
                      <div class="content14">
                        <input class="icon-home1" type="checkbox" />

                        <div class="link-text9">Saved</div>
                      </div>
                      <div class="badge1">
                        <div class="link-text9">24</div>
                      </div>
                    </div>
                    <div class="menu-list4">
                      <div class="menu-trigger1">
                        <div class="content15">
                          <img
                            class="icon-search3"
                            alt=""
                            src="./public/icon--piechartalt2.svg"
                          />

                          <div class="link-text9">Dashboard</div>
                        </div>
                        <input class="chevron-down1" type="checkbox" />
                      </div>
                      <div class="nav-link11">
                        <div class="content16">
                          <img
                            class="icon-search3"
                            alt=""
                            src="{% static 'images/icon--trendingup.svg' %}"
                          />

                          <div class="link-text9">Trends</div>
                        </div>
                      </div>
                      <div class="nav-link11">
                        <div class="content16">
                          <input class="icon-home1" type="checkbox" />

                          <div class="link-text9">Analytics</div>
                        </div>
                      </div>
                      <div class="nav-link11">
                        <div class="content16">
                          <input class="icon-home1" type="checkbox" />

                          <div class="link-text9">Historical</div>
                        </div>
                      </div>
                    </div>
                    <div class="nav-link14">
                      <div class="content13">
                        <input class="icon-home1" type="checkbox" />

                        <div class="link-text9">Projects</div>
                      </div>
                    </div>
                    <div class="nav-link14">
                      <div class="content13">
                        <img
                          class="icon-search3"
                          alt=""
                          src="{% static 'images/icon--file.svg' %}"
                        />

                        <div class="link-text9">Documents</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-bottom1">
                  <div class="divider4"></div>
                  <div class="menu-list5">
                    <div class="nav-link16">
                      <div class="content16">
                        <input class="icon-home1" type="checkbox" />

                        <div class="link-text9">Support</div>
                      </div>
                    </div>
                    <div class="nav-link16">
                      <div class="content16">
                        <input class="icon-home1" type="checkbox" />

                        <div class="link-text9">Settings</div>
                      </div>
                    </div>
                  </div>
                  <div class="divider4"></div>
                  <div class="row5">
                    <div class="profile1">
                      <img
                        class="avatar-image-icon9"
                        alt=""
                        src="{% static 'images/avatar-image-1@2x.png' %}"
                      />

                      <div class="avatar-content1">
                        <div class="text15">Name Surname</div>
                        <div class="link-text9">hello@relume.io</div>
                      </div>
                    </div>
                    <div class="action1">
                      <input class="icon-home1" type="checkbox" />
                    </div>
                  </div>
                </div>
                <div class="job-list">
                  <div class="short-description-salary4">
                    Short Description, salary?....
                  </div>
                  <img
                    class="job-list-child"
                    loading="lazy"
                    alt=""
                    src="{% static 'images/rectangle-2.svg' %}"
                  />

                  <div class="quote4">Match Score: 100%</div>
                  <img
                    class="avatar-image-icon10"
                    alt=""
                    src="{% static 'images/avatar-image-2@2x.png' %}"
                  />

                  <div class="job-details">Microsoft</div>
                  <div class="job-list-dividers">UX Designer</div>
                  <div class="job-description-preview"></div>
                </div>
                <div class="job-list1">
                  <img
                    class="job-list-item"
                    alt=""
                    src="{% static 'images/rectangle-2.svg' %}"
                  />

                  <div class="quote5">Match Score: 90%</div>
                  <img
                    class="avatar-image-icon11"
                    alt=""
                    src="{% static 'images/avatar-image-3@2x.png' %}"
                  />

                  <div class="text17">Google</div>
                  <div class="text18">UX Designer</div>
                  <img
                    class="job-list-inner"
                    loading="lazy"
                    alt=""
                    src="{% static 'images/line-1.svg' %}"
                  />

                  <div class="job-description-preview"></div>
                  <div class="short-description-salary5">
                    Short Description, salary?....
                  </div>
                </div>
                <div class="job-list2">
                  <img
                    class="job-list-item"
                    alt=""
                    src="{% static 'images/rectangle-2.svg' %}"
                  />

                  <div class="quote5">Match Score: 80%</div>
                  <img
                    class="avatar-image-icon11"
                    alt=""
                    src="{% static 'images/avatar-image-4@2x.png' %}"
                  />

                  <div class="text17">Meta</div>
                  <div class="text18">UX Designer</div>
                  <img
                    class="job-list-inner"
                    alt=""
                    src="{% static 'images/line-1.svg' %}"
                  />

                  <div class="job-description-preview"></div>
                  <div class="short-description-salary5">
                    Short Description, salary?....
                  </div>
                </div>
                <div class="job-list3">
                  <img
                    class="job-list-item"
                    alt=""
                    src="{% static 'images/rectangle-2.svg' %}"
                  />

                  <div class="quote5">Match Score: 70%</div>
                  <img
                    class="avatar-image-icon11"
                    alt=""
                    src="{% static 'images/avatar-image-5@2x.png' %}"
                  />

                  <div class="text17">Amazon</div>
                  <div class="text18">UX Designer</div>
                  <img
                    class="job-list-inner"
                    alt=""
                    src="{% static 'images/line-1.svg' %}"
                  />

                  <div class="job-description-preview"></div>
                  <div class="short-description-salary5">
                    Short Description, salary?....
                  </div>
                </div>
                <img
                  class="sidebar-1-child"
                  loading="lazy"
                  alt=""
                  src="{% static 'images/group-79.svg' %}"
                />

                <div class="job-tags">
                  <div class="tag-toggle-group1">
                    <div class="tag-toggle7">
                      <img
                        class="check-icon1"
                        loading="lazy"
                        alt=""
                        src="{% static 'images/check.svg' %}"
                      />

                      <div class="title7">Distance: 20 mi.</div>
                    </div>
                    <div class="tag-toggle8">
                      <div class="title7">Pay: Any</div>
                    </div>
                    <div class="tag-toggle8">
                      <div class="title7">Remote / In-person</div>
                    </div>
                    <div class="tag-toggle8">
                      <div class="title7">Skills: Any</div>
                    </div>
                    <div class="tag-toggle8">
                      <div class="title7">Industry: Any</div>
                    </div>
                    <div class="tag-toggle12">
                      <div class="title12">Label</div>
                    </div>
                    <div class="tag-toggle12">
                      <div class="title12">Label</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="stylesecondary-smalltrue-a1">
                <div class="button9">Save</div>
              </button>
              <a href="/apply">
                <button class="button10">
                  <div class="apply1">Apply</div>
                </button>
              </a>
              <div class="header-group">
                <div class="header1">
                  <img
                    class="avatar-image-icon14"
                    alt=""
                    src="{% static 'images/avatar-image-2@2x.png' %}"
                  />

                  <div class="job-card-header-info">
                    <div class="pagination-labels">Microsoft</div>
                    <div class="pagination-labels1">UX Designer</div>
                  </div>
                  <input
                    class="icon-dots-horizontal-rounded4"
                    type="checkbox"
                  />

                  <img
                    class="icon-dots-horizontal-rounded5"
                    alt=""
                    src="{% static 'images/icon--dotshorizontalrounded-2.svg' %}"
                  />
                </div>
                <div class="frame-wrapper3">
                  <div class="job-description-group">
                    <div class="job-description1">Job Description</div>
                    <div class="job-title-front-end-container1">
                      <p class="job-title-front-end1">
                        Job Title: Front-End Developer Intern
                      </p>
                      <p class="job-title-front-end1">
                        Location: Charlotte, NC
                      </p>
                      <p class="job-title-front-end1">&nbsp;</p>
                      <p class="job-title-front-end1">
                        Job Overview: We are looking for a motivated Front-End
                        Developer Intern to assist in building and optimizing
                        the user-facing components of our web applications. As
                        an intern, you will collaborate with designers and
                        developers to create responsive and visually appealing
                        web pages while gaining hands-on experience in front-end
                        development.
                      </p>
                      <p class="job-title-front-end1">&nbsp;</p>
                      <p class="job-title-front-end1">Key Responsibilities:</p>
                      <ul class="assist-in-developing-responsiv1">
                        <li class="assist-in-developing1">
                          Assist in developing responsive web pages using HTML,
                          CSS, and JavaScript.
                        </li>
                        <li class="assist-in-developing1">
                          Collaborate with designers to implement UI/UX designs.
                        </li>
                        <li class="assist-in-developing1">
                          Support front-end development for mobile-first web
                          applications.
                        </li>
                        <li class="assist-in-developing1">
                          Debug and troubleshoot front-end issues.
                        </li>
                        <li class="assist-in-developing1">
                          Stay updated on emerging front-end technologies and
                          best practices.
                        </li>
                        <li class="assist-in-developing1">Qualifications:</li>
                      </ul>
                      <p class="job-title-front-end1">&nbsp;</p>
                      <p class="job-title-front-end1">Qualifications:</p>
                      <ul class="assist-in-developing-responsiv1">
                        <li class="assist-in-developing1">
                          Basic understanding of HTML, CSS, and JavaScript.
                        </li>
                        <li class="assist-in-developing1">
                          Familiarity with front-end frameworks (e.g., React,
                          Angular, or Vue.js) is a plus.
                        </li>
                        <li class="assist-in-developing1">
                          Eagerness to learn and adapt in a fast-paced
                          environment.
                        </li>
                        <li class="assist-in-developing1">
                          Strong problem-solving skills and attention to detail.
                        </li>
                      </ul>
                      <p class="job-title-front-end1">&nbsp;</p>
                      <p class="job-title-front-end1">
                        Want to work with us? You're in good company!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="footer-42">
          <div class="footer-content">
            <div class="about-us-group">
              <div class="about-us2">About Us</div>
              <div class="contact-support2">Contact Support</div>
              <div class="faqs2">FAQs</div>
              <div class="user-guide2">User Guide</div>
            </div>
            <img
              class="pigeon-high-resolution-logo-gr-icon5"
              alt=""
              src="{% static 'images/pigeonhighresolutionlogograyscaletransparent-21@2x.png' %}"
            />
          </div>
          <footer class="divider-container">
            <div class="divider6"></div>
            <div class="footer-copyright-wrapper">
              <div class="footer-copyright">
                <div class="link-text9">
                  © 2024 Pigeon. All rights reserved.
                </div>
                <div class="privacy-policy2">Privacy Policy</div>
                <div class="terms-of-use2">Terms of Use</div>
                <div class="terms-of-use2">Cookie Settings</div>
              </div>
            </div>
          </footer>
        </section>
      </main>
    </div>
  </body>
</html>
